body {
  --neu-bg-default: #e9f3f7;
  --neu-text-default: #124559;
  --neu-shadow-light-default: #fff;
  --neu-shadow-dark-default: #a4cfe0;

  --neu-shadow-top: -4px -4px 8px 4px var(--neu-shadow-light-default), 4px 4px 8px 4px var(--neu-shadow-dark-default);
  --neu-shadow-top-shallow: -1px -1px 2px 1px var(--neu-shadow-light-default), 1px 1px 2px 1px var(--neu-shadow-dark-default);
  --neu-shadow-main: none;
  --neu-shadow-basement: inset -4px -4px 6px 2px var(--neu-shadow-light-default), inset 4px 4px 6px 2px var(--neu-shadow-dark-default);
  --neu-shadow-basement-shallow: inset -1px -1px 2px 1px var(--neu-shadow-light-default), inset 1px 1px 2px 1px var(--neu-shadow-dark-default);;

  color: var(--neu-text-default);
  background-color: var(--neu-bg-default);
  box-sizing: border-box;
}

.neu,
[level="1"],
[level="0"],
[level="-1"],
button,
input {
  all: inherit;
  border: none;
  box-shadow: var(--neu-shadow-top);
  padding: 16px;
  border-radius: 16px;
  margin: 16px;
  display: inline-block;
  transition: all 0.3s;
  text-align: center;
}

input:not([type="submit"]) {
  margin: 16px;
  padding: 16px;
}

.neu.block {
  display: block;
}

[level="0"] {
  box-shadow: var(--neu-shadow-main);
}

[level="-1"] {
  box-shadow: var(--neu-shadow-basement);
}

button,
input[type="button"],
input[type="submit"] {
  box-shadow: var(--neu-shadow-top);
  user-select: none;
}

button:focus,
input:focus,
button:hover,
input:hover {
  margin: 13px;
  padding: 19px;
}

button:hover, 
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="checkbox"]:hover,
input[type="radio"]:hover {
  cursor: pointer;
}

button:active,
input[type="button"]:active,
input[type="submit"]:active {
  box-shadow: var(--neu-shadow-top-shallow);
}

input:not([type="submit"]) {
  box-shadow: var(--neu-shadow-basement);
}
input:not([type="submit"]):active,
input:not([type="submit"]):focus {
  box-shadow: var(--neu-shadow-basement-shallow);
}

input[type="checkbox"],
input[type="radio"] {
  box-shadow: var(--neu-shadow-basement-shallow);
  vertical-align: middle;
  padding: 8px;
  border-radius: 4px;
  margin: 8px;
  position: relative;
}

input[type="radio"] {
  border-radius: 8px;
}

input[type="checkbox"]:hover,
input[type="checkbox"]:active,
input[type="checkbox"]:focus,
input[type="radio"]:hover,
input[type="radio"]:active,
input[type="radio"]:focus {
  box-shadow: var(--neu-shadow-basement-shallow);
  padding: 10px;
  border-radius: 5px;
  margin: 6px;
}

input[type="radio"]:hover,
input[type="radio"]:active,
input[type="radio"]:focus {
  border-radius: 10px;
}

input:checked::after {
  content: '\2713';
  font-size: 16px;
  line-height: 0px;
  position: absolute;
  left: 4px;
  top: 8px;
  font-family: monospace;
  transition: all 0.3s;
}

input[type="radio"]:checked::after {
  content: '\2022';
  font-size: 18px;
  left: 3px;
}

input:checked:hover::after,
input:checked:active::after,
input:checked:focus::after {
  left: 6px;
  top: 10px;
}

input[type="radio"]:checked:hover::after,
input[type="radio"]:checked:active::after,
input[type="radio"]:checked:focus::after {
  left: 5px;
}