body {
  --neu-bg-default: #e9f3f7;
  --neu-text-default: #124559;
  --neu-shadow-light-default: #fff;
  --neu-shadow-dark-default: #a4cfe0;

  --neu-shadow-top: -4px -4px 8px 4px var(--neu-shadow-light-default), 4px 4px 8px 4px var(--neu-shadow-dark-default);
  --neu-shadow-main: none;
  --neu-shadow-basement: inset -4px -4px 6px 2px var(--neu-shadow-light-default), inset 4px 4px 6px 2px var(--neu-shadow-dark-default);

  color: var(--neu-text-default);
  background-color: var(--neu-bg-default);
}

@keyframes elevatorDown {
  0% { box-shadow: var(--neu-shadow-top) }
  66% { box-shadow: var(--neu-shadow-main) }
  100% { box-shadow: var(--neu-shadow-basement) }
}

.neu,
.neu[level="1"],
.neu[interactive],
button.neu,
input.neu {
  all: inherit;
  border: none;
  box-shadow: var(--neu-shadow-top);
  padding: 16px;
  border-radius: 16px;
  margin: 16px;
  display: inline-block;
  transition: all 0.3s;
}


.neu.block {
  display: block;
}

.neu[level="0"] {
  box-shadow: var(--neu-shadow-main);
}

.neu[level="-1"] {
  box-shadow: var(--neu-shadow-basement);
}

.neu[interactive],
button.neu,
input.neu {
  box-shadow: var(--neu-shadow-top);
}

.neu[interactive]:focus,
button.neu:focus,
input.neu:focus,
.neu[interactive]:hover,
button.neu:hover,
input.neu:hover {
  cursor: pointer;
  margin: 13px;
  padding: 19px;
}

.neu[interactive]:active,
button.neu:active,
input.neu:active {
  box-shadow: var(--neu-shadow-basement);
  animation: elevatorDown 0.2s;
}